/* Scroll suave */
html {
  scroll-behavior: smooth;
}

/* Estilos principais */
body {
  font-family: Verdana, sans-serif;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
}

.titulo {
  font-size: 40px;
  display: inline-block;
  padding: 10px;
}

/* Sumário */
#sumario {
  background-color: #222;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

#sumario a {
  color: white;
  display: inline-block;
  padding: 10px;
  transition: color 0.3s, transform 0.3s;
}

#sumario a:hover {
  color: rgb(10, 157, 231);
  transform: scale(1.05);
}

/* Introdução */
#introducao {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 100px;
}

#introducao img {
  border: 5px solid white;
  border-radius: 8px;
  margin-top: 40px;
}

/* Experiência e Cursos */
.historico {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.experiencia,
.curso {
  background-color: #222;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  flex: 1;
  min-width: 150px;
  transition: color 0.3s, transform 0.3s;
}

.experiencia:hover {
  color: rgb(10, 157, 231);
  transform: scale(1.05);
}

.curso:hover {
  color: rgb(10, 157, 231);
  transform: scale(1.05);
}

/* Interesses */
.interesses {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.interesse {
  background-color: #222;
  border-radius: 8px;
  padding: 20px;
  min-width: 150px;
  text-align: center;
  color: greenyellow;
  transition: transform 0.3s;
}

.interesse:hover {
  transform: scale(1.05);
}

/* Contato e Redes */
#contato-redes {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}

.contato {
  background-color: #222;
  border-radius: 8px;
  padding: 20px;
  flex: 1 1 50%;
  justify-content: center;
  align-items: center;
}

.redes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 50%;
  margin-left: 20px;
}


.rede-social {
  background-color: #222;
  border-radius: 8px;
  padding: 20px;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-align: center;
  transition: transform 0.3s;
}

.rede-social:hover{
  transform: scale(1.05);
}